data/output/
app/backend/water/data_raw/
app/backend/water/logs/
app/support/logs/
app/frontend/report.html
data/input/
app/frontend/serve_content/prod/
data/datasets/all*
.DS_Store
__pycache__/
images/
app/frontend/node_modules/
app/backend/logs
app/backend/water/migrations/
app/backend/water/data/
scripts/secrets.sh
.env
app/support/sshkeys
app/backend/water/scripts/misc.ipynb